*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: "poppins" , sans-serif;
}

header{
    position: fixed;
    padding: 20px;
    margin:0 auto;
    background-color: #f63232;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    text-align:center;
    color: white;
    display: inline-block;
    border: 8px solid #fff;
    padding:6px 12px;
    border-radius :36px;
}

.first-block{
    position:relative;
}

.first-block img{
    width: 100%;
    max-width: 100%;
}

.first-block h2{
    font-size: 70px;
}

.welcome{
    position: absolute;
    top: 40%;
    left: 0;
    background-color: #f63232;
    color: #fff;
    padding: 30px;
}

.welcome h2{
    margin-bottom: 1rem;
}


nav{
    background-color: #f4f4f4;
   padding: 24px;
   position: sticky;
   top: 100px;
}

.nav-block ul{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    white-space: nowrap;
}

.nav-block ul li{
    life-style-type: none;
}

.nav-block ul li a{
    text-decoration: none;
    color: #4b4b4b;
}

.nav-block li{
    display: inline-block;
    width: 25%;
    font-size: 24px;
    
}

.nav-block li a:hover{
    text-decoration:underline;
}

main{
    max-width: 100%;
    margin: 40px 10px;
}

article h2{
    color: #f63232;
    font-size: 48px;
    text-align: center;
}

article p{
    line-height: 25px;
    text-align: center;
    width: 60%;
    margin: 20px auto 0;
}

article p::first-line{
    font-weight: bold;
    font-size: 25px;

}

.images{
    display: flex;
    margin: 10px;
    text-align: center;
}

.images li{
    display: inline-block;
    width: 20%;
    margin: 60px 5%;
}

.images li img{
    max-width: 100%;
}
.error-prompt{
    color: #f63232;
    display:none;
}

.details{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}

.details h2{
    font-size: 40px;
}
.details p{
    margin-top: 10px;
}

.details form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}
form input{
    margin: 10px 0;
    padding: 10px 20px;
    border: 4px solid white;
    font-size: 16px;
    border-radius: 28px;
}
.submission{
    background-color: #f63232;
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    color: #f4f4f4;
    font-size: 20px;
    cursor: pointer;
}
footer{
    background-color: #f63232;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family:'poppins',sans-serif;
}


@media screen and (max-width: 850px) {
    .nav-block ul{
       gap: 5opx;
    }

    .nav-block a {
    text-decoration: none;
    color: #4b4b4b;
    font-size: 20px;
    }
}

@media screen and (min-width:360px) and (max-width:600px) {
    .welcome h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome{
        position: static;
    }
    .first-block h2{
        font-size: 20px;
    }

    .nav-block ul{
        flex-direction: column;
        gap: 2px;
        align-items: flex-start;
    }
    .nav-block{
        position: static;
    }

    .images{
        flex-direction: column;
        align-items: center;

    }
    .images li{
        display: inline-block;
        width: 50%;
        margin: 0px 5%;
    }

    .submission{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    }
    @media screen and (max-width: 500px) {
        * {
            margin: 0px;
            padding: 0px;
        }
    
        body {
            width: 100%;
        }
    
        header {
            position: static;
        }
    
        .first-block {
            position: static;
        }
    
        nav {
            position: static;
        }
    
        nav li {
            display: block;
            font-size: large;
        }
    
        .first-block .welcome {
            position: static;
            text-align: center;
            background-color: #f63232;
            color: white;
            padding: 10px;
            width: 100%;
        }
    
    
        .welcome h2{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    
        .first-block .welcome br {
            display: none;
        }
    
        .first-block h2 {
            font-size: 20px;
        }
    
        .first-block h2 span {
            font-size: 1.2em;
        }
    
        .images {
            text-align: center;
            margin: 0px;
        }
    
        .images li {
            display: block;
            margin: 0;
            width: 100%;
        }
    
        .images li img {
            max-width: 80%;
        }
    
        main {
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 20px;
            margin-right: 20px;
        }
    
        form {
            width: 310px;
            margin: 0 auto;
        }
    }

    